<div class="press_post">
  <div class="press_post_title">
    <h3>
      <% if press_post.url.nil? %>
      <%= press_post.title %>
      <% else %>
      <%= link_to press_post.title, press_post.url, target: "_blank" %>
      <% end %>
    </h3>
    <span class="press_post_date"><%= press_post.created_at.strftime("Posted on %B %d %Y") %></span>
  </div>
  <% unless press_post.press_post_image.nil? %>
  <div class="press_post_image">
    <% if press_post.url.nil? %>
      <%= link_to image_tag(press_post.press_post_image.attachment.url(:large)), press_post.press_post_image.attachment.url(:large), target: "_blank" %>
    <% else %>
      <%= link_to image_tag(press_post.press_post_image.attachment.url(:large)), press_post.url, target: "_blank" %>
    <% end %>
  </div>
  <% end %>
  <div class="press_post_body">
    <% if Spree::Config.press_summarized %>
    <% if press_post.url.nil? %>
    simple_format(press_post.body)
    <% else %>
    <p>
      <%= press_post.post_summary %>
      <%= link_to "Read more", press_post.url, target: "_blank" %>
    </p>
    <% end %>
    <% else %>
    <%= simple_format(press_post.body) %>
    <% end %>
  </div>
</div>