<div class="press_post">
  <div class="press_post_title">
    <h3>
      <% if press_post.url.nil? %>
        <%= press_post.title %>
      <% else %>
        <%= link_to press_post.title, press_post.url %>
      <% end %>
    </h3>
    <span class="press_post_date"><%= press_post.created_at.strftime("Posted on %B %d %Y") %></span>
  </div>
  <% unless press_post.press_post_image.nil? %>
  <div class="press_post_image">
    <%= link_to image_tag(press_post.press_post_image.attachment.url(:large)), press_post.press_post_image.attachment.url(:large) %>
  </div>
  <% end %>
  <div class="press_post_body">
    <p><%= press_post.body %></p>
  </div>
</div>