<% content_for :sidebar do %>
  <%= render :partial => 'spree/press_posts/press_post_sidebar' %>
<% end %>
<div id="press_post_container" class="columns twelve omega">
  <% if !@press_posts.empty? %>
    <ul id="press_posts">
      <% @press_posts.each do |press_post| %>
        <li id="<%= press_post.title %>">
          <%= render :partial => 'spree/press_posts/press_post', :locals => {:press_post => press_post} %>
        </li>
      <% end %>
    </ul>
    <%= paginate @press_posts %>
  <% else %>
    <p id="no_entries"><%= Spree.t(:no_press_posts) %></p>
  <% end %>
</div>
