
<div class="row">
  <div class="alpha ten columns">

    <%= form.field_container :title do %>
      <%= form.label :title, Spree.t(:title) %> <span class="required">*</span><br />
      <%= form.text_field :title, :class => 'fullwidth title' %>
      <%= form.error_message_on :title %>
    <% end %>

    <div class="columns five alpha">
      <%= form.field_container :published_at do %>
        <%= form.label :published_at, Spree.t(:published_at) %><br />
        <%= form.error_message_on :published_at %>
        <% if @press_post.published_at? %>
          <% published_at = l(@press_post.published_at, :format => Spree.t('date_picker.format')) %>
        <% else %>
          <% published_at = nil %>
        <% end %>
        <%= form.text_field :published_at, :value => published_at, :class => 'datepicker' %>
      <% end %>
    </div>

    <div class="columns five omega">
      <%= form.field_container :visible do %>
        <%= form.label :visible, Spree.t(:visible) %><br />
        <%= form.check_box :visible %>
        <%= form.error_message_on :visible %>
      <% end %>
    </div>

  </div>

  <div class="omega six columns">

    <%= field_set_tag Spree.t(:press_post_featured_image) do %>
      <% @press_post.build_press_post_image unless @press_post.press_post_image %>

      <%= form.fields_for :press_post_image do |press_post_image_field| %>
        <%= form.field_container :press_post_image_attachment do %>
          <% unless @press_post.press_post_image.new_record? %>
            <div class="press_post_image_thumbnail">
              <%= link_to image_tag(@press_post.press_post_image.attachment.url(:mini)), @press_post.press_post_image.attachment.url(:large) %>
              <%= @press_post.press_post_image.attachment_file_name %><br/>
            </div>
          <% end %>
          <%= press_post_image_field.file_field :attachment %>
        <% end %>

        <%= form.field_container :press_post_image_alt do %>
          <%= press_post_image_field.label :alt, Spree.t(:alt_text) %><br/>
          <%= press_post_image_field.text_field :alt %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<%= form.field_container :body do %>
  <%= form.label :body %> <span class="required">*</span><br />
  <%= form.text_area :body, {:cols => 60, :rows => 4, :class => 'fullwidth', :id => 'press_post_body'} %>
  <%= form.error_message_on :body %>
<% end %>
