<% content_for :page_title do %>
<%= Spree.t(:press_posts) %>
<% end %>

<% content_for :page_actions do %>
<li><%= button_link_to Spree.t(:new_press_post), new_object_url, :icon => 'plus' %></li>
<% end %>
<%= form_tag(admin_press_post_settings_path, :method => :put) do %>
<%= check_box_tag('settings[press_summarized]','yes' , Spree::Config.press_summarized) %>
<label><%= t('enable_press_post_summarization') %></label>
<br>
<%= button t('submit_settings') %>
<% end %>
<br>
<% if @press_posts.any? %>
<table class="index">
  <colgroup>
  <col style="width: 15%">
  <col style="width: 30%">
  <col style="width: 35%">
  <col style="width: 5%">
  <col style="width: 15%">
</colgroup>
<thead>
  <tr>
    <th class="title"><%= Spree.t(:title) %></th>
    <th class="image"><%= Spree.t(:image) %></th>
    <th class="actions"></th>
  </tr>
</thead>

<tbody>
  <% @press_posts.each do |press_post| %>
  <tr class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id press_post %>">
    <td class="align-center"><%= press_post.title %></td>
    <td class="align-center"><%= link_to image_tag(press_post.press_post_image.attachment.url(:small)), press_post.press_post_image.attachment.url(:large) unless press_post.press_post_image.nil? %></td>
    <td class="actions">
      <%= link_to_edit press_post, :no_text => true %>
      <%= link_to_delete press_post, :no_text => true %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>


<% else %>
<div class="alpha twelve columns no-objects-found">
  <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/press_post')) %>,
  <%= link_to Spree.t(:add_one), spree.new_admin_press_post_path %>!
</div>
<% end %>

